/* .headerImage {
    animation-name: myAnimation;
    animation-duration: 6s;
    animation-iteration-count: 4;

}
@keyframes myAnimation {
    0% {left: 40px ; top: 0px;}
    50% {left: 0px ; top: 40px;}
    100% {left: 40px; top: 0px;}
} */
/* 
.headerText {
    animation-name: myAnimation2;
    animation-duration: 3s;
    animation-fill-mode: forwards;
}
@keyframes myAnimation2 {
    0% {left: -500px;}
    100% {left: 0;}
}

.headerButton {
    opacity: 0.6;
    transition: box-shadow 1s;
} */

.headerText  h1{
    font-weight: bold ;
    font-size: 50px;
}

.headerButton{
    /* margin: 20px; */
    padding: 10px !important;
    /* text-align: center; */
    border: none !important;
    width: 150px !important;
    border-radius: 40px !important;
    background-color: #81D8D0 !important;

}

@media only screen and (max-width: 576px) and (min-width: 300px){
    .headerText h1 {
        font-weight:bold;
        font-size: 25px;

    }
    .headerText{
        margin-left: 20px;
    }
   
}
@media only screen and (max-width: 768px) and (min-width: 576px){
    .headerText h1 {
        font-weight:bold;
        font-size: 35px;
    }
    .headerText{
        margin-left: 5px;
    }
    
}